/* FONT PATH
 * -------------------------- */
/*
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('#{$pym-font-path}/YanoneKaffeesatz-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('#{$pym-font-path}/YanoneKaffeesatz-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aroania';
  src: url('#{$pym-font-path}/Aroania_R.otf');
}

@media (min-width: 768px) {
  .row { margin-right: 0; margin-left: 0; }
}

/* sticky footer */
html {height: 100%;}
body {height: 100%;}

#page_container {
  min-height: 100%;
}
#page_content {
  overflow: auto;
  padding-bottom: $footer-height + $footer-top-margin;
}


#page_header_top_row {
  border-bottom: solid 1px lighten($breadcrumb-border-color, 10);
  background-color: $breadcrumb-bg;
  height: 56px;
  vertical-align: top;
}

.page-header {
  margin: 0;
  padding: 8px 0;
  display: inline-block;
  h1 {
    margin: 0;
    font-size: $font-size-h2;
    font-family: "Yanone Kaffeesatz";
    color: #550000;
    letter-spacing: 2px;
  }
}

#logo {
  vertical-align: top;
}
.outer-gutter {
  padding: 0 $grid-gutter-width/2; // simulate bootstrap grid's gutter at outer sides
}



body > footer {
  clear: both;
  height: $footer-height;
  margin-top: -($footer-height);
  position: relative;
  border: solid 1px $breadcrumb-border-color;
  border-bottom: none;
  font-size: 80%;
  @include border-top-radius($border-radius-base);
  color: $breadcrumb-color;
  background-color: $breadcrumb-bg;
  padding-top: 2px;
}


#breadcrumbs {
  border: solid 1px $breadcrumb-border-color;
  border-top: solid 1px white;
  margin-bottom: $grid-gutter-width/3;
  font-size: 90%;
  @include border-bottom-radius($border-radius-base);
  color: $breadcrumb-color;
  background-color: $breadcrumb-bg;
  a {
    color: $breadcrumb-color;
    &:hover { color: $breadcrumb-active-color; }
  }
  .inner {
    margin-left: -1px; // border-width of breadcrumbs
  }
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li {
      float: left;
      margin-left: 0.2em;
      margin-right: 0.2em;
    }
    li.breadcrumb-spacer {
      font-size: 80%;
      padding-top: 2px;
    }
    li:first-child {
      margin-left: 0;
    }
  }
}

#page_title {
  font-size: 180%;
}

.content-margin-top {
  margin-top: 12px;
}